// Colors
$black: rgb(21, 21, 21);
$green: rgb(78, 255, 160);
$dark-grey: rgb(36, 36, 36);
$light-grey: rgb(217, 217, 217);
$white: rgb(255, 255, 255);

.wrapper {
  position: relative;
}

@media (max-width: 375px) {
  header {
    position: absolute;
    top: 0px;
    left: 0px;
    padding-top: 20px;
    gap: 20px;
    width: 100%;
    .owner-name {
      font-size: 24px;
      font-weight: 700;
      line-height: 32px;
      letter-spacing: -0.33px;
    }

    .social-media-links li {
      width: 20px;
      height: 20px;
    }

    .social-media-links li a {
      border: none;
    }
  }
  .profile {
    position: relative;
    width: 100%;
    .oval {
      position: absolute;
      left: -350px;
      top: 126px;
      width: 530px;
      height: 129px;
      overflow: hidden;
      z-index: 0;
    }
    .profile-image {
      background-image: url("./images/image-profile-mobile.webp");
      background-repeat: no-repeat;
      background-size: cover;
      height: 383px;
      width: 174px;
      margin: 0 auto;
      position: relative;
      z-index: 1;
      .circle {
        position: absolute;
        bottom: 0px;
        right: -165px;
        width: 129px;
        height: 129px;
      }
    }

    .personal-information {
      padding: 0 16px 80px 16px;
      margin: 40px 0 0 0;
      text-align: center;
      h2 {
        font-size: 40px;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: -1.14px;
      }
      h2::after {
        content: "";
        position: absolute;
        bottom: 255px;
        right: 50px;
        background-color: $green;
        height: 4px;
        width: 60%;
      }
      p {
        font-size: 16px;
        font-weight: 400;
        color: $light-grey;
        line-height: 26px;
      }
    }
  }
  .skills {
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 40px 0px 40px 0px;
    border-top: 1px solid $light-grey;
    border-bottom: 1px solid $light-grey;
    h3 {
      font-size: 32px;
      line-height: 40px;
      letter-spacing: -1px;
      font-weight: 700;
    }
    p {
      font-weight: 500;
      font-size: 16px;
      line-height: 26px;
      color: $light-grey;
    }
    .oval {
      position: absolute;
      right: -357px;
      bottom: -48px;
    }
  }

  .projects,
  .skills {
    margin: 0px 16px 0px 16px;
  }
  .projects {
    margin-top: 80px;
    .section-title {
      margin-bottom: 40px;
    }

    .project-list {
      .project-img {
        width: 345px;
        height: 253px;
        background-size: cover;
        background-position: center;
        margin-bottom: 20px;
      }
      .project-name {
        font-size: 24px;
        line-height: 32px;
        text-transform: uppercase;
        margin-bottom: 14px;
      }
      .project-tech {
        font-size: 18px;
        line-height: 28px;
        font-weight: 500;
        margin-bottom: 20px;
      }
      .project-buttons {
        margin-bottom: 40px;
      }
    }
  }
  .contact h2,
  .projects h2 {
    font-size: 40px;
    line-height: 40px;
    font-weight: 700;
    letter-spacing: -1.14px;
  }
  .contact {
    position: relative;
    background-color: $dark-grey;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 60px 16px 87px 16px;
    h2 {
      margin-bottom: 20px;
    }
    p {
      font-size: 16px;
      line-height: 26px;
      color: $light-grey;
      margin-bottom: 50px;
    }
    .error {
      margin-bottom: 0;
    }

    form {
      textarea,
      input {
        width: 100%;
        background-color: transparent;
        border: none;
        outline: none;
        border-bottom: 1px solid $light-grey;
        padding: 16px;
        margin-bottom: 16px;
      }
      textarea::placeholder,
      input::placeholder {
        font-size: 16px;
        line-height: 26px;
        letter-spacing: -0.22px;
      }
      textarea {
        z-index: 1;
        height: 130px;
      }
      button {
        margin-top: 16px;
      }
      p.succes-message {
        margin-top: 32px;
        font-size: 16px;
        line-height: 26px;
        color: $green;
        border: 1px solid $green;
        padding: 24px;
      }
    }
    .oval {
      position: absolute;
      left: -350px;
      bottom: 100px;
      width: 530px;
      height: 129px;
      overflow: hidden;
      z-index: 0;
    }
  }
  footer {
    background-color: $dark-grey;
    .footer-wrapper {
      padding: 40px 0px 80px 0px;
      border-top: 1px solid $light-grey;
      margin: 0px 16px 0px 16px;
    }

    .owner-name {
      font-size: 24px;
      font-weight: 700;
      line-height: 32px;
      letter-spacing: -0.33px;
    }
    .social-media-links li a {
      border: none;
    }
  }
}
